“Your son is suffering from B-Cell Acute Lymphoblastic Leukemia,” the doctors told the family. 

Kranti Devi collapsed upon hearing the diagnosis. The word "cancer" shattered their world, and no parent should have to watch their child go through such pain. 

Despite this, they began treatment, hoping for a cure. Aarav completed two cycles of cancer therapy but developed a neck infection that affected his breathing. 

He was moved to the ICU and now uses a vacuum device. His mother stays with him, while his father, Sudheer, works in a parking lot earning ₹6,000 a month to support the family.