{% extends '../base/base.html' %}

{% block content %}



<div class="container">
  <div class="row">
   
    <!-- left sidebar -->
    {% include './leftsidebar.html' %}
    
    {% load crispy_forms_tags %}
  </div>


   <div class="row">
      <form action="" method="POST" style="width: 500px;" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
      </form>
    </div>
</div>

{% endblock %}